.title {
  text-align: center;
  font-size: 3.6rem;
}

.uk-child-width-1-2\@s {
  border: 0px solid #ddd;
  text-align: center;
}

.uk-inline-clip {
  border: 12px solid white;
}

.header-inventaire {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.bouton {
  position: absolute;
  right: 40px;
  background-color: #048B9A;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
}
