:host {
  display: block;
  background-color: rgb(227, 215, 178);
  min-height: 100vh;
}

.uk-section-muted {
  background-color: transparent !important;
}

.uk-section {
  background-color: transparent !important;
}

.uk-button-primary {
  background-color: #048B9A;
  color: white;
}

.uk-link {
  color: #048B9A;
}
