html, body, app-root {
  background-color: rgb(227, 215, 178);
  min-height: 100vh;
  margin: 0;
}

app-root > * {
  background-color: transparent;
  display: block;
  min-height: 100vh;
}

.log {
  text-align: center;
}

.uk-navbar-container {
  background-color: rgb(152 213 150 / 0.51);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.uk-navbar-nav > li > a,
.uk-navbar-item {
  color: #333333 !important;
  font-weight: 500;
}

.uk-button-text {
  color: #333333 !important;
}
.uk-button-text:hover {
  color: lightsalmon !important;
}

.uk-button-primary {
  background-color: lightsalmon;
  color: white;
  border: none;
  border-radius: 4px;
}

body {
  background-size: cover;        /* couvre tout l'écran */
  background-position: center;   /* centre l'image */
  background-repeat: no-repeat;  /* évite la répétition */
}
