.uk-button {
  background-color: #048B9A;
  color: white;
}
.uk-link {
  color: #048B9A;
}
.uk-section-muted {
  background-color: transparent !important;
}
.uk-section {
  background-color: transparent !important;
}
